header{
    background-color: aquamarine;
    text-align: center;
    font-weight: bold;
    color: brown;
    height: 100px;
}
div
{
    color: black;
    background-color: brown;
    height: 700px;
    width: 400px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    border: 3px solid black;
    border-radius: 30px;
    padding: 10px 20px 20px 20px ;

}
.ado{
    padding: 30px;
    margin: 20px;
    border-radius: 30px;
    border: 3px solid black;
}
.vdo{
    padding: 30px;
    margin: 20px;
    border-radius: 30px;
    border: 3px solid black;
}

